// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero {
  height: 100vh;
}

.product-title {
  overflow: unset;
  top: 7vh;
  -webkit-transform: none;
  transform: none;
  width: auto;
  height: auto;
  left: auto;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  right: 20%;
}

.product-title h2 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-weight: 800;
  font-size: 15rem;
  line-height: 1;
  z-index: -1;
  margin: 0;
  opacity: 50%;
}

.hero-title {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.section-body {
  padding-top: 0;
  padding-bottom: 0;
}

.hero-content {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: -3rem;
}

.hero-img {
  margin-left: 35px;
}

.title-desc p {
  font-size: 1.5rem;
  line-height: 1.625;
  margin-bottom: 0;
}

.about-text p {
  font-size: 1.25rem;
  line-height: 1.8;
}

.hero-btn {
  margin-top: 1rem;
}

.design-text p {
  margin-top: 3rem;
}

.feature-number {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1;
}

.features {
  margin-top: 4rem;
}

.ttt {
  padding-top: 3rem;
  padding-left: 10rem;
}

.feature-holder {
  margin-bottom: 3rem;
}

.separation {
  padding-left: 5px;
}

.separation::before {
  content: "";
  display: block;
  height: 150px;
  width: 2px;
  position: absolute;
  background: #121212;
  margin-left: -25px;
  margin-top: 35px;
}
