// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
nav {
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  align-items: center;
}

.links a {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: $fontcolor;
}

.links a + a {
  margin-left: 3.6rem;
}
