// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: $max-width; /* 1 */
  margin: 0 auto; /* 2 */
  width: 100%; /* 1 */
}

.full-container {
  width: 100%; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  max-width: 100%; /* 1 */
}

.container-sm {
  max-width: $container-sm-max-width; /* 1 */
  margin: 0 auto; /* 2 */
  width: 100%; /* 1 */
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

/**
 * A 12 column grid for large screens
 */

.lg-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.lg-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.lg-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.lg-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.lg-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.lg-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.lg-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/**
 * Text Aligns
 */

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.justify-content-center {
  justify-content: center !important;
}

.emphasis {
  color: crimson !important;
}

.section-title {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.section-title::after {
  content: "";
  display: block;
  height: 5px;
  width: 50px;
  position: relative;
  background: #121212;
  top: 13px;
  left: 50%;
  margin-left: -25px;
}

.about {
  margin-top: 6rem;
}

.about-text {
  margin-bottom: 3rem;
}

.about-img {
  margin-top: 5rem;
}

.black-bg {
  background-color: black;
}

.something-title {
  color: white;
  font-size: 60px;
  line-height: 68px;
}

.something-desc {
  color: white;
  font-size: 18px;
  line-height: 27px;
  margin: 50px 0;
  padding: 7 px 0;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}
