/// Container's maximum width
/// @type Length
$max-width: 75rem !default;

/// Small container's maximum width
/// @type Length
$container-sm-max-width: 52.5rem !default;

$backgorund: #fefefe;
$fontcolor: #1d1d1d;

/// Regular font stack
/// @type List
$text-font-stack: "Segoe UI", Tahoma, "Noto Sans", "Roboto", "Helvetica",
  "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
